$bg-color: #233040;
$color-primary: #1E60A0;

@import "modal";
@import "form";
@import "button";

body {
  margin: 0;
  padding: 5.6rem;
  font-family: 'Helvetica';
  background-color: $bg-color;
}

.review {
  width: 100%;
  height: 100vh;
}

.review-panel {
  position: absolute;
  width: 960px;
  top: 100px;
  left: 50%;
  margin: 0 auto;
  margin-left: -480px;
  border-radius: 4px;
  background: #fff;
}

.review-product {
  display: flex;
}

.reviews {
  margin: 0 auto;
  padding: 1.6rem 6rem;
}

.reviews__title {
  display: inline-block;
}

.reviews__btn {
  display: inline-block;
  float: right;
  padding-top: 1.6rem;
}

.reviews-list {
  clear: both;
  display: flex;
  > ul {
    padding: 0;
  }
}

.review-item {
  padding: 0 0 2.4rem;
  margin: 0 0 1.6rem 0;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.review-item__heading {
  display: inline-block;
  margin: 0 0.6rem 0.6rem 0;
  vertical-align: middle;
}

.review-item__image {
  float: left;
  padding: 0 1rem 0 0;
}

.review-product__image {
  padding: 5rem 3.6rem 0;
  background-color: #ccc;
  flex: 1;
  text-align: center;
  > img {
    box-shadow: 0px 1px 10px #999;
  }
}

.review-item__content {
  column-count: 2;
}

.review-product__details {
  position: relative;
  padding: 3.6rem;
  background-color: #eee;
  flex: 2;
}

.review-product__btn {
  position: absolute;
  top: 15%;
  right: 10%;
}

.rsr-container {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.6rem;
  font-size: 0.9rem;
  border-radius: 40px;
  border: 0;
  text-align: center;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
  &:hover {
    background-color: darken($color-primary, 10%);
  }
}