$bg-color: #233040;
$color-primary: #1E60A0;
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 996px;

@import "modal";
@import "form";
@import "button";
@import "review-item";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 2.4rem;
  font-family: 'Helvetica';
  background-color: $bg-color;
  @media (min-width: $screen-sm) {
    padding: 5.6rem;
  }
}

ul,
li {
  list-style: none;
}

.review {
  width: 100%;
}

.review-panel {
  max-width: 960px;
  margin: 0 auto;
  border-radius: 4px;
  background: #fff;
}

.review-product {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-md) {
    flex-direction: row;
  }
}

.reviews {
  margin: 0 auto;
  padding: 1.6rem;
  @media (min-width: $screen-md) {
    padding: 1.6rem 6rem;
  } 
}

.reviews__title {
  display: block;
  text-align: center;
  @media (min-width: $screen-md) {
    display: inline-block;
    text-align: left;
  }
}

.reviews__btn {
  display: block;
  margin: 0 auto;
  float: none;
  padding-top: 1.6rem;
  @media (min-width: $screen-md) {
    display: inline-block;
    float: right;
  }
}

.reviews-list {
  clear: both;
  display: flex;
  > ul {
    padding: 0;
  }
}

.review-product__image {
  padding: 2.4rem;
  background-color: #ccc;
  flex: none;
  text-align: center;
  > img {
    box-shadow: 0px 1px 10px #999;
  }
  @media (min-width: $screen-md) {
    padding: 5rem 3.6rem 0;
    flex: 1;
  }
}

.review-product__details {
  position: relative;
  padding: 2.4rem;
  background-color: #eee;
  flex: none;
  @media (min-width: $screen-md) {
    padding: 3.6rem;
    flex: 1;
  }
  @media (min-width: $screen-lg) {
    flex: 2;
  }
}

.review-product__btn {
  position: relative;
  display: block;
  margin: 0 auto;
  @media (min-width: $screen-lg) {
    position: absolute;
    top: 15%;
    right: 10%;
  }
}

.rsr-container {
  display: inline-block;
  margin-bottom: 0.8rem;
  &:hover {
    cursor: pointer;
  }
}

.btn {
  display: block;
  padding: 0.8rem 1.6rem;
  font-size: 0.9rem;
  border-radius: 40px;
  border: 0;
  text-align: center;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  @media (min-width: $screen-md) {
    display: inline-block;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: #fff;
  &:hover {
    background-color: darken($color-primary, 10%);
  }
}